.ico-tcsz {
    background: url("../img/tcsz.png") no-repeat center;
}

.ico-tg {
    background: url("../img/xg.png") no-repeat center;
}

.icon-fan{
    background: url("../img/fan.png") no-repeat center;
}

.icon-new{
    background: url("../img/new.png") no-repeat center;
}


.icon-qb{
    background: url("../img/qbqb.png") no-repeat center;
}

.fl-right {
    float: right;
    margin-top: 25px;
    margin-right: 25px;
}

.order-box {
    margin: 0 -15px;
    min-height: 680px;
    border-top: 4px solid #1c96dc;
    background-color: #fff;
    -webkit-text-size-adjust: none;
}

.ph-fl {
    float: right;
    margin-right: 30px;
}

.sidebar a {
    color: #4c4c4c;
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
}

.sidebar > .sidebar a:active, .sidebar a:hover {
    color: #2b86ba;
    border-left: 3px solid #44a6dd;
}

.ico-fl {
    background: url("../img/fenl.png") no-repeat center;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.left-side li {
    width: 200px;
    height: 60px;
    color: #4c4c4c;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
    background: #ebebeb;
    border: 1px solid #e5e5e5;
}

.main-sidebar, .left-side {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 20px;
    min-height: 100%;
    z-index: 810;
    background: #ebebeb;
    -webkit-transition: -webkit-transform .3s ease-in-out, width .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out, width .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out, width .3s ease-in-out;
    transition: transform .3s ease-in-out, width .3s ease-in-out;

}

.right-body {
    margin-left: 180px;
}

.text-gery {
    color: #8c8c8c;
}

.list-inline {
    text-decoration: underline;

}

.ph-nav {
    border-bottom: 1px solid #f4f4f4;
}

.nav-bar > li > a {
    width: 230px;
    height: 60px;
    color: #a4a4a4;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
}

.nav-tabs > li:hover, a:hover {
    color: #3893c7;
}

.ph-gery {
    color: #5e5e5e;
}

.ph-yygery {
    color: #8d8d8d;
}

.ph-btn-set {
    margin-left: 50px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.ico-tj {
    background: url("../img/PLUS.png") no-repeat center;
}

.ico-qj {
    background: url("../img/PEN 3.png") no-repeat center;
}

.ico-ph-tj {
    background: url("../img/tj.png") no-repeat center;
}

.icon-man {
    background: url("../img/man.png") no-repeat ;
    padding-right: -2px;
    padding-top: -3px;
}

.icon-time {
    background: url("../img/time.png") no-repeat;
    padding-top: 10px;

}

.icon-sz{
    background: url("../img/sz2.png") no-repeat center ;
    margin-top: 8px;
}
.icon-newone{
    background: url("../img/newone.png") no-repeat center ;
    margin-top: 8px;
}

.icon-jgqj{
    background: url("../img/jgqj.png") no-repeat center;
    margin-top: 8px;
}

.icon-s {
    display: inline-block;
    position: relative;
    width: 15px;
    height: 15px;
}


.ph-blue {
    color: #3893c7;
}

.ph-blue:hover,
.ph-blue:focus {
    background: #efefef;
    color: #3893c7;
}


.icon-close {
    margin-left: 10px;
    background: url("../img/close-1.png") no-repeat center;
}
.icon-close:hover{
    background: url("../img/close-2.png") no-repeat center;
}

.ph-btn-bluee {
    height: 22px;
    line-height: 10px;
    font-size: 12px;
    text-align: center;
}

.ph-btn-green {
    background: #a3be65;
    color: #FFF;
}

.ph-btn-green:hover,
.ph-btn-green:focus {
    background: #a3be65;
    color: #FFF;
}

.ph-btn-back{
    height: 40px;
    width: 290px;
    font-size: 14px;
    font-weight: bold;
    background: #f89945;
    color: #ffffff;
}
.ph-btn-back:hover,
.ph-btn-back:focus {
    background: #f89945;
    color: #FFF;
}


.ph-btn-pass{
    height: 40px;
    width: 290px;
    font-size: 14px;
    font-weight: bold;
    background: #5993cf;
    color: #ffffff;
}
.ph-btn-pass:hover,
.ph-btn-pass:focus {
    background: #5993cf;
    color: #FFF;
}


.text-red {
    color: #ff4747;
}

.btn-findup {
    display: none;
    background-color: #a3be65;
    color: #fff;
    margin-left: 10px;
    padding: 0 3px;
}

.s-addperson{
    display: inline;
    padding: 8px;
    width: 80px;
    background: #fafafa;
    border: 1px solid #efefef ;
}

.s-addperson:hover,
.s-addperson:focus{
    color:#44a6dd ;

}
.btn-add{
    float: left;
    padding: 5px;
    width:60px;
    border: 1px solid #efefef;
    background: #fafafa;
    color:#7e7e7e ;
}

.btn-add-s{
    float: left;
    padding: 8px 5px 2px 8px;
    width: 30px;
     border-right: 1px solid #EFEFEF;
    border-top: 1px solid #EFEFEF;
    border-bottom: 1px solid #EFEFEF;
    background: #fafafa;
    color:#7e7e7e ;
}
/*.btn-add:hover,*/
/*.btn-add:focus{*/
    /*color: #44a6dd;*/
/*}*/


.btn-findup:hover,
.btn-findup:focus {
    color: #fff;
}

tr:hover .btn-findup {
    display: inline-block;
}

.ph-qujian {
    background: url("../img/qujian.png") no-repeat center;
}

.ph-section {
    margin: 35px -10px 20px -12px;
    height: 300px;
    background-color: #ffffff;
    padding-top: 25px;
    padding-left: 25px;

}


.icon-tj{
    background: url("../img/PLUS.png") no-repeat center;
}
.ph-use {
    color: #EEEEEE;
    text-align: center;
    padding: 30px 40px 30px 30px;
    background: url("../img/blue.png") no-repeat center;
    font-size: 12px;
}

.ph-blue-num {
    color: #4ba5d8;
    font-weight: bold;
    font-size: 14px;
    margin-right: 35px;
}

.ph-sy-num {
    color: #17b46b;
    font-weight: bold;
    font-size: 14px;
    margin-right: 35px;
}

.ph-bluee-num {
    color: #52c3c2;
    font-weight: bold;
    font-size: 14px;
    margin-right: 35px;
}

.ph-red-num{
    color: #ed786c;
    font-weight: bold;
    font-size: 14px;
    margin-right: 35px;
}

.ph-numb {
    margin-top: 35px;
    border-bottom: 1px solid #f5f5f5;
}

.ph-wait {
    color: #EEEEEE;
    text-align: center;
    padding: 30px 40px 30px 30px;
    background: url("../img/zise.png") no-repeat center;
    font-size: 12px;
}

.ph-up {
    color: #EEEEEE;
    text-align: center;
    padding: 30px 40px 30px 30px;
    background: url("../img/lvse.png") no-repeat center;
    font-size: 12px;
}

.ph-back {
    color: #EEEEEE;
    text-align: center;
    padding: 30px 40px 30px 30px;
    background: url("../img/yellow.png") no-repeat center;
    font-size: 12px;
}
.ph-gerry {
    color: #EEEEEE;
    text-align: center;
    padding: 30px 40px 30px 30px;
    background: url("../img/geryy.png") no-repeat center;
    font-size: 12px;
}
.ph-sm-section {
    margin: 30px  -20px  30px -20px;
    height: 220px;
    background-color: #ffffff;
    padding-top: 25px;
    padding-left: 25px;
}


.ph-redd {
    color: #EEEEEE;
    text-align: center;
    padding: 40px;
    background: url("../img/reed.png") no-repeat center;
    font-size: 12px;
}
.ph-zise {
    padding: 30px 40px 30px 30px;
    margin-left: -30px;
    color: #EEEEEE;
    text-align: center;

    background: url("../img/propery.png") no-repeat center;
    font-size: 12px;
}

.icon-del {
    background: url("../img/del.png") no-repeat center;
}

.icon-xiuga {
    background: url("../img/xiugai.png") no-repeat center;
}

.ph-bluesky {
    color: #0ec1c3;
    font-weight: bold;
}

.ico-form-jage {
    background: url("../img/jiag.png") no-repeat center;
}

.ph-sm-gery {
    color: #a9a9a9;
    font-size: 10px;
}

.ph-sm-orange {
    color: #fc9760;
    font-size: 12px;
}

.ph-btn-white {
    margin-left: 20%;

    width: 156px;
    height: 32px;
    border: 1px solid #e3e3e3;
    background: #ffffff;

}

.ph-big-gery {
    color: #9e9e9e;
    font-size: 12px;
}

.ph-primary {
    color: #555555;
    font-size: 12px;
}

.btn-next{
    margin-left: 40%;
    margin-right: 50%;
    margin-top: 70px
}

.ph-inpt {
    margin-left: 5px;
    padding-left: 5px;
    width: 60px;
    height: 23px;
    font-size: 12px;
    color: #919191;
    border: 1px solid #e5e5e5;
}

.ph-inptt {
    margin-left: 12px;
    padding-left: 5px;
    width: 60px;
    height: 23px;
    font-size: 12px;
    color: #919191;
    border: 1px solid #e5e5e5;
}

.ph-text-blue {
    color: #3789b7;
    font-size: 12px;
}

.ph-int-red {
    padding-left: 5px;
    margin-right: 5px;
    width: 65px;
    height: 25px;
    font-size: 12px;
    color: #ff4747;
    border: 1px solid #e5e5e5;
}

.widget-welcome.widget-welcome-question {
    background: #fcf8e3;
}

.widget-welcome {

    background-color: #fff;
    color: #333;
}

.widget-register-slideUp {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: b;
    animation-name: b;
}

.widget-register {
    position: fixed;
    bottom: 0;
    z-index: 1000;
    width: 100%;
    margin-bottom: 0 !important;
    background-color: #717171 !important;
}

.width-fixed {
    min-width: 130px;
}

.icon-qud {
    background: url("../img/qd.png") no-repeat center;
}

.fl-left {
    float: left;
}

.ph-text-headline {
    font-size: 14px;
    color: #767676;
}

.select-city {
    float: left;
    width: 150px;
    margin-right: 20px;
}

.ph-true {
    width: 130px;
    margin-top: 45px;
    background-color: #3893c7;
    border: none
}

.inpt-search {
    float: left;
    margin-right: 20px;
    border: #c6c6c6;
    width: 265px;
}

.input-search {
    width: 317px;
    padding-left: 0px;
    margin-bottom: 20px;
    margin-left: -80px;
    margin-top: -5px;
}

.inpt-search-ren {
    float: left;
    margin-right: 20px;
    border: #c6c6c6;
    width: 178px;

}

.icon-xh {
    background: url("../img/lb.png") no-repeat center;
    padding-top: 10px;
    padding-bottom: 0px;
}

.header-nav {
    float: left;
}

.header-nav li {
    float: left;
    padding: 23px 20px;

    margin-left: 50px;
}

.header-nav li a:hover {

}

.header-nav li.current a {
    font-weight: bold;
}

.header-nav li.current {
    border-bottom: 3px solid #3893c7;
    padding-bottom: 14px;
}

.new-cample{
    margin-left: 150px;
    overflow-x: hidden;
    min-height: 850px;
}

.fl-header{
    margin-left: 35px;
    margin-top: 25px;

}

.ph-bh-yellow{
    color: #ff9915;
    font-weight: bold;
    font-size: 14px;
    margin-right: 35px;
}