.icon-back {
	width: 26px;
	height: 26px;
	background: url("../img/arrow.png") no-repeat center;
}

.icon-back:hover {
	width: 26px;
	width: 26px;
	background: url("../img/Arrow 2 .png") no-repeat center;
}

.fl-right {
	float: right;
	margin-top: 25px;
	margin-right: 25px;
}

.text-green {
	color: #0c9969;
}

.btn-bluee {
	height: 22px;
	line-height: 10px;
	font-size: 12px;
	padding-left: 8px;
}

.new-table-box {
	border-top: 3px solid #1e92d4;
	min-height: 600px;
	background: #FFF;
}

.new-table-box>table>tbody>tr:hover {
	border-left: 3px solid #1e92d4;
}

.ph-select {
	width: 180px;
	height: 30px;
	padding: 5px;
	border: 1px solid #c6c6c6;
	border-radius: 3px;
	background: #ffffff;
	color: #a7a7a7;
}

.text-time {
	font-size: 12px;
	color: #636363;
	margin-top: 35px;
	margin-bottom: 0px;
}

.icon-cj {
	background: url("../img/qujian.png") no-repeat center;
}