li {
	padding-top: 28.0px;
	border-bottom: 0.0px dashed #dedede;
}.btn-dd {
	float: left;
	margin-left: 10.0px;
	margin-top: 20.0px;
}.ph-search-date > input{display: inline-block;width: auto;height: 30.0px;}
.dl-horizontal dt{float: left;width: 160.0px;overflow: hidden;clear: left;text-align: right;text-overflow: ellipsis;white-space: nowrap;margin-top: 8.0px;}.text-pronce{line-height: 30.0px;}.icon-ren{background: url("img/syry.png") no-repeat center;}.icon-riz{background: url("img/rizi.png") no-repeat center;}.ph-icon{height: 30.0px;padding: 5.0px 10.0px;font-size: 12.0px;line-height: 1.5;border-radius: 3.0px;}
.btn-qx{float: left;margin-top: 20.0px;margin-left: 180.0px;}