.box-body-a{
    width: 100%;
    min-height: 650px;
}
.box-body-month{
    width: 100%;
    min-height: 800px;
}
.icon-task-detail {
    background: url(../img/task/xm.png) no-repeat;
}

.icon-task-send {
    background: url(../img/task/z2.png) no-repeat;
}

.icon-task-sz {
    display: inline-block;
    margin-right:3px;
    padding:7px;
    vertical-align: middle;
    background: url(../img/icon/oil-subsidy/setting.png) no-repeat;
}
.icon-finds{
    background: url(../img/icon/team-member/list/sousuo1.png) no-repeat;
}
.text-blue {
    color: #1087cb;
    font-weight: 600;
}


.btn-setting{
    margin-left:5px;
    padding:3px;
    background-color:#fbfbfb;
    color:#8c8c8c;
    border:1px solid #eee;
    font-size:12px;
}

.text-bule {
    color: #2483b9;
    font-size: 12px;
}

/*文本设置距离*/
.text-jl {
    padding-left: 40px;
    margin-top: 8px;
    width: 167px;
}

.th-with{
    height: 50px;
    width: 200px;
}

.row-a{
    height: 30px;
    width:80%;
}

.btn-jl{
    margin-right: 10px;
}

.btn-null{
    float: left;
    width: 59px;
    height: 30px;

}



.text-body {
    font-weight: 100;
    font-size: 12px;
}

.text-red {
    color: #ff5757;
}

.text-wz {
    padding-top: 20px;
}

.table-my-- > tbody > tr > th {
    vertical-align: middle;
}

/*jl距离 */
.date-jl {
    float: left;
    width: 300px;
    height: 30px;
}

.select-jjl {
    float: left;
    width: 310px;
    height: 30px;
}
.date-jll {
    float: left;
   padding-left:-10px
}

.date-jlll {
    float: right;   
    margin-top: 5px;
}

.text-bai{
    color: #ffffff;
    font-size: 10px;
    font-weight: 900;
}

.text-bai-d {
    color: #ffffff;
    font-size: 14px;
    font-weight: 900;
}
.input-jl{
    margin-right: 30px;
}

.date-wzz {
    padding-bottom: 8px;
    position: relative;
}

.btn-sz {
    padding: 1px 5px;
    font-size: 3px;
    margin-left: 30px;
}

.text-gery {
    color: #cccccc;
    font-size: 12px;
}


.text-gery-s {
    color: #cccccc;
    font-size: 12px;
    font-weight: 400;
}
.text-block {
    color: #606060;
    font-size: 12px;
}

.row-h{
    width: auto;
    height:30px;
}
/*搜索栏中按钮的样式*/
.input-in  {
    height: 30px;
}
.input-ini{
    padding: 0;
}
.select-sffb{
	width: 150px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px 
}